
#bodycolor {
  background: lightgray;
}

#navbarNavDropdown {
  background: white;
}

#one {
  background: white;
}

.navbar-header {
  display: inline-block;
  padding: 20px;
  margin-right:10px;
  margin-left:10px;
  background: rgb(9, 201, 175);
  cursor: pointer;
  border-radius: 3px;
}

#logo {
  color: white;
  padding-left: 25px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 50px,
}

.wrapper{
  column-count: 2;
  column-gap: 50px;
  padding: 50px;
}

.navbar li {
  padding: 10px;
  cursor: pointer;
  
}
.navbar li a {
  color: white;
  text-decoration: none;
}

.main {
  color: white;
  display: inline-block;
}

.hr {
  height:0;
  max-height:0;
  font-size:1px;
  line-height:0;
  clear: both;
}

.hr2 {
  height:4px;
  max-height:4px;
  font-size:40px;
  color: rgb(9, 201, 175);
  line-height:8px;
  clear: both;
}

.jumbotron{
  background-color:white,
}
/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}


/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
#h1 {
  padding-top: 20px;
  color:  rgb(9, 201, 175);
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: left;
}

#h2 {
  padding-top: 20px;
  padding-left:20px;
  color:  rgb(9, 201, 175);
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: left;
}

/* Giving the .post element margin on 3 sides */
.post {
  font-size: 14px;
  text-align: justify;
  margin-top: 5px;
  margin-right: 50px;
  margin-left: 5px;
  background: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.column{
  float:left;
  width:50%;
  padding:5px;
}