
body {
  background: gray;
}

.navbar-header {
  font-size: 40px;
  font-weight: bold;
  color: white;
  display: inline-block;
  padding: 0px;
  background: rgb(9, 201, 175);
  cursor: pointer;
}

.navbar-brand a {
  color: white;
  font-weight: bold;
  font-size: 25px,
}

.navbar li {
  padding: 10px;
  cursor: pointer;
  
}
.navbar li a {
  color: white;
  text-decoration: none;
}

.main {
  color: white;
  display: inline-block;
}


/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 20px;
  margin-top:50px;
  color:  rgb(9, 201, 175);
  background: white;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

/* Giving the .post element margin on 3 sides */
.posts {
  font-size: 15px;
  margin-top: 50px;
  margin-right: 300px;
  margin-left: 100px;
  background: white;
  display: inline-block;
}
